<%- include("partials/header.ejs") %>


<header class="text-bg-dark">
   

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 text-white">Create</a></li>
            <li><a href="/view" class="nav-link px-2 text-white">View</a></li>
          <li><a href="/update" class="nav-link px-2 text-white">Update</a></li>
          <li><a href="/delete" class="nav-link px-2 text-white";>Delete</a></li>
        </ul>

       
  </header>

    <body onload="val()">
      
    


                <div style="display: flex;">
                  <div class="form-floating" style="width: 200px;margin-top: 20px;" >
                    <select  onchange="val()" onload="val()" style="font-size: 30px;padding: 10px;" class="form-select" id="floatingSelect" aria-label="Floating label select example">
                  
                      <%var x = [];  %>
                      <% var x2 =""; %>
                    

                      <%locals.pinakas.forEach((stoixeio)=> { %>
                            
                        <option style="display: flex; max-width: 100%;" id="opt" value="1" > <% x = stoixeio.split(/[&]/); 
                        
                          x2 = stoixeio; %>

                        <%= x[0]+" * "+x[1] %>
                        
                        </option>
                    
                    <%}) %>
                    </select>
                    <form action="/delete" method="POST">

                    <div></div></dib><button class="button-64" role="button" method="POST"><span class="text">Delete Post</span>
                     
                    </button>
                  </div>
                  


                    <div style="margin-top: 20px;margin-left: 200px;">
                        <textarea  id="area1" readonly name = "titletext" style="width: 400px;height: 40px;margin-bottom: 30px;border-radius: 2%;"></textarea>
  
                        <textarea id="area2" readonly name = "maintext" style="width: 800px;height: 600px;border-radius: 2%;"> </textarea>
                        <textarea id="area3" hidden name = "inv1" style="width: 60px;height: 30px;border-radius: 2%;"><%= x[0] %> </textarea>
                        <textarea id="area4" hidden name = "inv2" style="width: 60px;height: 30px;border-radius: 2%;"><%= x[1] %> </textarea>


                    </div> 

                  
                  </form>

                 



		<script src="/script/main_code.js"></script>

	</body>
</html>

